/* src/components/Footer.css */

.footer {
    background-color: #509cae;
    padding: 10px;
    text-align: right;
}

.footer-content {
    margin: 0 auto;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}